<h1>Books</h1>
<nav>
  <ul>
    <li>
      <a href="/books/new">Add a book</a>
    </li>
    <li>
      <a href="/placements/new">Add a book to the collection</a>
    </li>
  </ul>
</ul>
</nav>
<table>
  <thead>
    <th>Title</th>
    <th>Published in</th>
    <th>Authors</th>
    <th>Created at</th>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.publish_date %></td>
        <% unless book.authors.empty? %>
          <% book.authors.each do |author| %>
            <td><%= "#{author.name} #{author.surname}" %></td>
          <% end %>
        <% else %>
          <td>None</td>
        <% end %>
        <td><%= book.created_at %></td>
        <td><%= link_to 'More', book_path(book) %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: "Delete #{book.title} ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
