<%= form_for @bookstore, url: { action: "update"} do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :collection %>
    <%= form.select :collection_id, @collections.map { |collection|
      [collection.name, collection.id] } %>
  </p>
  <div>
    <strong>Location data</strong>
    <p>
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>
    </p>
    <p>
      <%= form.label :longitude%>
      <%= form.text_field :longitude %>
    </p>
  </div>
  <%= form.submit %>
<% end %>
