<h1>Add a bookstore</h1>
<%= form_with scope: :bookstore, local: true do |form|%>
    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.select :collection_id, options_for_select(@collections.map {
            |collection| [collection.name, collection.collection_id]
        }) %>
    </p>
    <%= form.submit %>
<% end %>
