<!DOCTYPE html>
<html>
  <head>
    <title>LMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="application-container">
    <a href="/">Menu</a>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
