<!DOCTYPE html>
<html>
  <head>
    <title>LMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="application-container">
    <nav class="naviation">
      <a href="/">Menu</a>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: "Do you want to sign out ?"} %>
        <p>Logged in as <%= current_user.email %></p>
      <% end %>
    </nav>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
